section.contact {
  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 0.5em 1em;
      text-align: center;

      img.contact {
        height: 50px;
      }
    }
  }
  
}