section.testimonials {
  blockquote {
    margin: 0;
    border-left: 10px solid #eee;
    padding-left: 1em;

    strong {
      background-color: #e8c170d0;
    }
  }

  cite {
    display: block;
    .name {
      color: #888;
    }
    .title {
      display: inline-block;
      font-size: 80%;
      color: #bbb;
    }

    margin-left: 2em;
  }
}
