@charset "utf-8";
@import "breakpoints";

body {
  background-color: white;
  color: #222;
  font-size: 150%;
  margin: 0;
  font-family: 'Cormorant', serif;
}

main {
  margin: 20px;
  @include lg {
    margin: 0 auto;
    width: calc(#{$screen-lg-min} - 40px)
  }
}

.clear {
  clear: both
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
article.legal {
  font-size: 80%;
  h1, h2, h3 {
    text-align: left;
  }
}

h3 {
  font-size: 100%;
}

ul {
  padding-left: 1.5em;
  li {
    margin-bottom: 0.5em;
  }
}

li > p {
  margin: 0;
}

section + section {
  margin-top: 5em;
}

section strong, section em {
  font-weight: inherit;
  border-radius: 3px;
  padding: 0 5px;
}

section img.head {
  height: 75px;
  display: block;
  margin: 0 auto;
}

section.hello {
  img.profile {
    display: block;
    margin: 0 auto 1em;
    height: 200px;

    @include sm {
      float: left;
      margin: 0 1em 1em 0;
    }
  }


}

section.about {
  strong {
    background-color: #bcffc2;
  }

  img.about {
    height: 75px;
    display: block;
    margin: 0 auto;
  }

}

section.work {
  strong {
    background-color: #C4FEFF;
  }
  em {
    background-color: #eee;
  }

  img.work {
    height: 75px;
    display: block;
    margin: 0 auto;
  }
}

section.beliefs {
  strong {
    background-color: #FBA5EA;
  }
}

section.contact {
  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    flex-wrap: wrap;
    
    li {
      margin: 1em;
    }
  }
}

footer {
  padding-top: 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  color: #888;

  font-size: 80%;
  text-align: center;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline;
    }
  }
}

@import "navigation";