@charset "utf-8";
@import "breakpoints";

body {
    background-color: white;
    color: #222;
    font-size: 125%;
    margin: 0;
    font-family: 'Cormorant', serif;
}

main {
    margin: 20px;
    @include md {
        margin: 0 auto;
        width: calc(#{$screen-md-min} - 40px)
    }
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding-left: 1.5em;
    li {
        margin-bottom: 0.5em;
    }
}

li > p {
    margin: 0;
}

section strong, section em {
    font-weight: inherit;
    border-radius: 3px;
    padding: 0 5px;
}

section.about {
    strong {
        background-color: #fffd91;
    }

}

section.past {
    strong {
        background-color: #91fdff;
    }
    em {
        background-color: #eee;
    }
}

section.beliefs {
    strong {
        background-color: #ff91fd;
    }
}

footer {
    padding-top: 1em;
    background-color: #eee;
    border-top: 1px solid #ddd;
    color: #666;

    text-align: center;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            display: inline;
        }
    }
}